{# src/AppBundle/Resources/views/default/delProd.html.twig #}


   

{{ form_start(form) }}
    {# render the task's only field: description #}
     <h3>Products</h3>
    {{ form_row(form.products) }}
    
     
    
   
{{ form_end(form) }}



