{# src/AppBundle/Resources/views/default/ncu.html.twig #}


   

{{ form_start(form) }}
    {# render the task's only field: description #}
     <h3>Categories</h3>
    {{ form_row(form.categories) }}
    
     
    
   
{{ form_end(form) }}



