{# src/AppBundle/Resources/views/default/new.html.twig #}


   

{{ form_start(form) }}
    {# render the task's only field: description #}
    

    <h3>Create Category</h3>
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    
{{ form_end(form) }}



